<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/bg/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;"
>

    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="assets/imgs/logo.png" alt="" style="max-width: 250px;">
            </div>
            <div class="col-md-8">
            <h1 style="color: white;">กองบัญชาการกองทัพไทย </h1>
            <p>กองบัญชาการกองทัพไทย มีหน้าที่ควบคุม อำนวยการ สั่งการ และกำกับดูแล การดำเนินงานของส่วนราชการในกองทัพไทย ในการเตรียมกำลัง การป้องกันราชอาณาจักร และการดำเนินการเกี่ยวกับการใช้กำลังทหาร ตามอำนาจหน้าที่ของกระทรวงกลาโหมให้เกิดประสิทธิภาพสูงสุด มีผู้บัญชาการทหารสูงสุด เป็นผู้บังคับบัญชารับผิดชอบ</p> 
            </div>
        </div>
    </div> 
</div> 

<div class="container mt-5 mb-5">
    <div class="row align-items-center">
       <div class="col-12">
           <div class="partner-content">
               <h4 class="mb-0">คณะผู้บังคับบัญชา</h4>
           </div>
       </div>
       <div class="col-12 mt-3">
            <div class="row align-items-center"> 
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/imgs/nb.png" alt="">
                        <div class="card-body text-center">
                          <h5 class="card-title">พลเอก เฉลิมพล ศรีสวัสดิ์</h5>
                          <p class="card-text">ผู้บัญชาการทหารสูงสุด</p> 
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row align-items-center mt-3"> 
                <div class="col-md-3"> 
                    <div class="card">
                        <img class="card-img-top" src="assets/imgs/nb.png" alt="">
                        <div class="card-body text-center">
                          <h5 class="card-title">พลเอก ศิราวุฒิ วงศ์ขันตี</h5>
                          <p class="card-text">รองผู้บัญชาการทหารสูงสุด <br/>(บก.ทท.)</p> 
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/imgs/nb.png" alt="">
                        <div class="card-body text-center">
                          <h5 class="card-title">พลเอก ทรงวิทย์ หนุนภักดี</h5>
                          <p class="card-text">รองผู้บัญชาการทหารสูงสุด <br/>(ทบ.)</p> 
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/imgs/nb.png" alt="">
                        <div class="card-body text-center">
                          <h5 class="card-title">พลเรือเอก สุทธินันท์ สมานรักษ์</h5>
                          <p class="card-text">รองผู้บัญชาการทหารสูงสุด <br/>(ทร.)</p> 
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/imgs/nb.png" alt="">
                        <div class="card-body text-center">
                          <h5 class="card-title">พลอากาศเอก คงศักดิ์ จันทรโสภา</h5>
                          <p class="card-text">รองผู้บัญชาการทหารสูงสุด <br/>(ทอ.)</p> 
                        </div>
                    </div>
                </div>
            </div>
       </div>
       
       <div class="col-12 mt-5">
        <div class="row align-items-center"> 
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="assets/imgs/nb.png" alt="">
                    <div class="card-body text-center">
                      <h5 class="card-title">พลเอก ธิติชัย เทียนทอง</h5>
                      <p class="card-text">เสนาธิการทหาร</p> 
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row align-items-center mt-3"> 
            <div class="col-md-3"> 
                <div class="card">
                    <img class="card-img-top" src="assets/imgs/nb.png" alt="">
                    <div class="card-body text-center">
                      <h5 class="card-title">พลเอก กนกพงษ์ จันทร์นวล</h5>
                      <p class="card-text"> รองเสนาธิการทหาร<br/>(บก.ทท.)</p> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="assets/imgs/nb.png" alt="">
                    <div class="card-body text-center">
                      <h5 class="card-title">พลเอก อภิเชษฐ์ ซื่อสัตย์</h5>
                      <p class="card-text"> รองเสนาธิการทหาร <br/>(ทบ.)</p> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="assets/imgs/nb.png" alt="">
                    <div class="card-body text-center">
                      <h5 class="card-title">พลเรือเอก ธานี แก้วเก้า</h5>
                      <p class="card-text"> รองเสนาธิการทหาร <br/>(ทร.)</p> 
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="assets/imgs/nb.png" alt="">
                    <div class="card-body text-center">
                      <h5 class="card-title">พลอากาศเอก สุพิจจารณ์ ธรรมวาทะเสรี</h5>
                      <p class="card-text"> รองเสนาธิการทหาร <br/>(ทอ.)</p> 
                    </div>
                </div>
            </div>
        </div>
   </div>
    </div>
</div>
