<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="
    background-color: #232B51;
    /*
    background-image: url(assets/images/bg/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    */"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: white;">บริการประชาชน/ข้อมูลข่าวสาร</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">หน้าแรก</a></li>
                <li class="d-inline-block position-relative">บริการประชาชน/บริการข้อมูลข่าวสาร</li>
            </ul>
        </div>
    </div>
</div>

<!-- Dashboard -->
<div class="dashboard-area ptb-100">
    <div class="container"> 
         
    <div class="container">
        <div class="courses-tabs">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="section-title">
                    <h2 class="mb-0">บริการประชาชน/ข้อมูลข่าวสาร</h2>
                </div>
                <ul class="nav nav-tabs d-block border-0"> 
                    <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab1'}">
                        <button type="button" class="nav-link shadow-none border-0 mb-0 rounded-0" (click)="switchTab($event, 'tab1')">
                            ข่าว ประกาศ คำสั่ง
                        </button>
                    </li>
                    <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab2'}">
                        <button type="button" class="nav-link shadow-none border-0 mb-0 rounded-0" (click)="switchTab($event, 'tab2')">
                            ข่าวรับสมัคร
                        </button>
                    </li>
                    <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab3'}">
                        <button type="button" class="nav-link shadow-none border-0 mb-0 rounded-0" (click)="switchTab($event, 'tab3')">
                            จัดซื้อจัดจ้าง
                        </button>
                    </li>
                </ul>
            </div>
            <div class="tab-content"> 
                <div class="tab-pane fade" id="tab1" *ngIf="currentTab === 'tab1'"> 
                    <div class="courses-table mt-3">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">ชื่อเอกสารข่าวประกาศ</th>
                                        <th scope="col">วันที่</th>
                                        <th scope="col" width="250" style="text-align: center;">รายละเอียด</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let content of docsData;">  
                                    <tr *ngIf="content.attributes.category=='announcement'">
                                        <th scope="row">
                                            <a href="{{content.attributes.docurl}}" target="_blank">
                                               {{content.attributes.title}}
                                            </a>
                                        </th>
                                        <td>
                                            {{content.attributes.docdatetime}}
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="{{content.attributes.docurl}}" target="_blank" class="default-btn two">ดูรายละเอียด</a>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>

                <div class="tab-pane fade" id="tab2" *ngIf="currentTab === 'tab2'"> 
                    <div class="courses-table mt-3">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">ชื่อเอกสารข่าวประกาศ</th>
                                        <th scope="col">วันที่</th>
                                        <th scope="col" width="250" style="text-align: center;">รายละเอียด</th>
                                    </tr>
                                </thead> 
                                <tbody  *ngFor="let content of docsData;">   
                                    <tr *ngIf="content.attributes.category=='apply'">
                                        <th scope="row">
                                            <a href="{{content.attributes.docurl}}" target="_blank">
                                               {{content.attributes.title}}
                                            </a>
                                        </th>
                                        <td>
                                            {{content.attributes.docdatetime}}
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="{{content.attributes.docurl}}" target="_blank" class="default-btn two">ดูรายละเอียด</a>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
                <div class="tab-pane fade" id="tab3" *ngIf="currentTab === 'tab3'"> 
                    <div class="courses-table mt-3">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">ชื่อเอกสารข่าวประกาศ</th>
                                        <th scope="col">วันที่</th>
                                        <th scope="col" width="250" style="text-align: center;">รายละเอียด</th>
                                    </tr>
                                </thead> 
                                <tbody  *ngFor="let content of docsData;">  
                                    <tr *ngIf="content.attributes.category=='budget'">
                                        <th scope="row">
                                            <a href="{{content.attributes.docurl}}" target="_blank">
                                               {{content.attributes.title}}
                                            </a>
                                        </th>
                                        <td>
                                            {{content.attributes.docdatetime}}
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="{{content.attributes.docurl}}" target="_blank" class="default-btn two">ดูรายละเอียด</a>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div> 
            </div>
        </div> 
    </div>
    </div>
</div>