<!-- Default Categories Section  bg-f7f7f7-->
<div
    class="categories-area pb-75"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
    style="margin-top: -100px;"
>
    <div class="container"> 
        <div class="row justify-content-center">
            
            <div class="col-md-4">
                <div class="category-box text-center position-relative z-1"
                style="
                background-image:url('assets/imgs/1.jpeg'); 
                background-size:cover; 
                background-position: center center;
                height: 250px;
                padding-top: 200px;
                "> 
                    <div style="
                    border-radius: 0 0 20px 20px; 
                    font-size: 1.2em; 
                    background-color: rgba(0,0,0,0.5) ; 
                    height:44px; 
                    color:white; 
                    font-weight:bold">เราคือใคร</div>
                    <a routerLink="/about/who-we-are" class="link-btn"></a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="category-box text-center position-relative z-1"
                style="
                background-image:url('assets/imgs/3.jpeg'); 
                background-size:cover; 
                background-position: center center;
                height: 250px;
                padding-top: 200px;
                "> 
                    <div style="
                    border-radius: 0 0 20px 20px; 
                    font-size: 1.2em; 
                    background-color: rgba(0,0,0,0.5) ; 
                    height:44px; 
                    color:white; 
                    width: 100%;
                    font-weight:bold">บริการสำหรับประชาชน</div>
                    <a routerLink="/about/for-people" class="link-btn"></a>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="category-box text-center position-relative z-1"
                style="
                background-image:url('assets/imgs/4.jpeg'); 
                background-size:cover; 
                background-position: center center;
                height: 250px;
                padding-top: 200px;
                "> 
                    <div style="
                    border-radius: 0 0 20px 20px; 
                    font-size: 1.2em; 
                    background-color: rgba(0,0,0,0.5) ; 
                    height:44px; 
                    color:white; 
                    font-weight:bold">บริการสำหรับทหาร</div>
                    <a routerLink="/about/for-soldiers" class="link-btn"></a>
                </div>
            </div>
             
        </div>
    </div>
</div>

<!-- Categories Section for Home Demo - 2 -->
<div
    class="categories-area ptb-100 bg-f7f7f7 d-none"
    [ngClass]="{'d-block': router.url === '/index-2'}"
>
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-0">Top Categories</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-6 col-sm-4">
                <div class="category-item position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-web-programming"></i>
                    </div>
                    Who we are?
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 col-sm-4">
                <div class="category-item position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-megaphone"></i>
                    </div>
                    For Peoples
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 col-sm-4">
                <div class="category-item position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-arts"></i>
                    </div>
                    For Soldiers
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 col-sm-4">
                <div class="category-item position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-portfolio"></i>
                    </div>
                    Business
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 col-sm-4">
                <div class="category-item position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-management"></i>
                    </div>
                    Management
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 col-sm-4">
                <div class="category-item position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-lifestyle"></i>
                    </div>
                    Lifestyle
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 col-sm-4">
                <div class="category-item position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-data-science"></i>
                    </div>
                    Data Science
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 col-sm-4">
                <div class="category-item position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-networking"></i>
                    </div>
                    Leadership
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
        </div>
        <div class="view-all-btn text-center">
            <a routerLink="/courses-grid" class="default-btn two">View All Categories</a>
        </div>
    </div>
</div>

<!-- Categories Section for Home Demo - 3 -->
<div
    class="categories-area extra-top position-relative z-1 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title text-center">
            <h2 class="mb-0">Our Top Categories</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-web-programming"></i>
                    </div>
                    <h3>Development</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-knowledge-1"></i>
                    </div>
                    <h3>Marketing</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-arts"></i>
                    </div>
                    <h3>Art & Crafts</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-management"></i>
                    </div>
                    <h3>Management</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-networking"></i>
                    </div>
                    <h3>Leadership</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 col-lg-3">
                <div class="single-category-item text-center position-relative z-1">
                    <div class="icon">
                        <i class="flaticon-data-science"></i>
                    </div>
                    <h3>Data Science</h3>
                    <div class="arrow">
                        <i class="flaticon-next"></i>
                    </div>
                    <a routerLink="/courses-grid" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>