<!-- Default Categories Section  bg-f7f7f7-->
<div
    class="categories-area pb-75"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
    style="margin-top: -100px;"
>
    <div class="container"> 
        <div class="row justify-content-center">
            
            <div class="col-md-4">
                <div class="category-box text-center position-relative z-1"
                style="
                background-image:url('assets/imgs/who.jpg'); 
                background-size:cover; 
                background-position: center center;
                height: 250px;
                padding-top: 200px;
                "> 
                    <div style="
                    border-radius: 0 0 20px 20px; 
                    font-size: 1.2em; 
                    background-color: rgba(0,0,0,0.5) ; 
                    height:44px; 
                    color:white; 
                    font-weight:bold">Who We Are</div>
                    <a routerLink="/about/who-we-are" class="link-btn"></a>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="category-box text-center position-relative z-1"
                style="
                background-image:url('assets/imgs/peo.png'); 
                background-size:cover; 
                background-position: center center;
                height: 250px;
                padding-top: 200px;
                "> 
                    <div style="
                    border-radius: 0 0 20px 20px; 
                    font-size: 1.2em; 
                    background-color: rgba(0,0,0,0.5) ; 
                    height:44px; 
                    color:white; 
                    width: 100%;
                    font-weight:bold">For People</div>
                    <a routerLink="/about/for-people" class="link-btn"></a>
                </div>
            </div>
             
            <div class="col-md-4">
                <div class="category-box text-center position-relative z-1"
                style="
                background-image:url('assets/imgs/sold.jpg'); 
                background-size:cover; 
                background-position: center center;
                height: 250px;
                padding-top: 200px;
                "> 
                    <div style="
                    border-radius: 0 0 20px 20px; 
                    font-size: 1.2em; 
                    background-color: rgba(0,0,0,0.5) ; 
                    height:44px; 
                    color:white; 
                    font-weight:bold">For Soldiers</div>
                    <a routerLink="/about/for-soldiers" class="link-btn"></a>
                </div>
            </div>
             
        </div>
    </div>
</div>
