<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="
    background-color: #232B51;
    /* background-image: url(assets/images/bg/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;*/"
>

    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="assets/imgs/logo.png" alt="" style="max-width: 250px;">
            </div>
            <div class="col-md-8">
            <h1 style="color: white;">กองบัญชาการกองทัพไทย </h1>
            <p>กองบัญชาการกองทัพไทย มีหน้าที่ควบคุม อำนวยการ สั่งการ และกำกับดูแล การดำเนินงานของส่วนราชการในกองทัพไทย ในการเตรียมกำลัง การป้องกันราชอาณาจักร และการดำเนินการเกี่ยวกับการใช้กำลังทหาร ตามอำนาจหน้าที่ของกระทรวงกลาโหมให้เกิดประสิทธิภาพสูงสุด มีผู้บัญชาการทหารสูงสุด เป็นผู้บังคับบัญชารับผิดชอบ</p> 
            </div>
        </div>
    </div> 
</div> 

<div class="container mt-5 mb-5">
    <div class="row align-items-center">
       <div class="col-12">
           <div class="partner-content">
               <h4 class="mb-0">หน่วยงานขึ้นตรง กองบัญชาการกองทัพไทย</h4>
           </div>
       </div>  
       <div class="col-12 mt-3">
        <div class="row align-items-center"> 
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="box" (click)="toggle(1)">
                    ส่วนบังคับบัญชา
                </div>
                <div *ngIf="open==1">
                    <div class="box-sub">
                        สำนักกองบัญชาการ <br>
                        กองบัญชาการกองทัพไทย
                    </div>
                    <div class="box-sub">
                        สำนักเลขานุการ <br>
                        กองบัญชาการกองทัพไทย
                    </div>
                    <div class="box-sub">
                        สำนักงานจเรทหาร 
                    </div>
                    <div class="box-sub">
                        สำนักงานตรวจสอบภายในทหาร  
                    </div>
                    <div class="box-sub">
                        สำนักงานพระธรรมนูญทหาร  
                    </div>
                    <div class="box-sub">
                        สำนักสวัสดิการทหาร  
                    </div>
                    <div class="box-sub">
                        สำนักยุทธโยธาทหาร  
                    </div>
                    <div class="box-sub">
                        ศูนย์ประสานงานโครงการอันเนื่องมาจากพระราชดำริและความมั่นคง  
                    </div>
                    <div class="box-sub">
                        ศูนย์ไซเบอร์ทหาร  
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="vertical-align: top;">
                <div class="box">
                    ส่วนเสนาธิการร่วม
                </div>
            </div>
            <div class="col-md-2">
                <div class="box">
                    ส่วนกิจการพิเศษ
                </div>
            </div>
            <div class="col-md-2">
                <div class="box">
                    ส่วนปฏิบัติการ
                </div>
            </div>
            <div class="col-md-2">
                <div class="box">
                    ส่วนการศึกษา
                </div>
            </div>  
            <div class="col-md-1"></div>
        </div> 
   </div>
    </div>
</div>
