.box {
    width: 100%;
    border: 1px solid #cccccc ;
    padding: 5px 3px;
    border-top: 5px solid #05367b;
    text-align: center;
    font-weight: bold;
}
.box-sub {
    width: 100%;
    border: 1px solid #cccccc ;
    padding: 5px 3px;
    text-align: center;
    margin-top: 5px;
    font-size: 0.9em;
}