<!-- Default Blog Section -->
<div
    class="blog-area pt-100 pb-75 bg-f7f7f7"
    style="
    background-color: #232B51;
    /*
    background-image: url(assets/images/bg/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    */
    "
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title text-center"> 
            <h2 class="mb-0" style="color: white;">RTARF Daily Missions</h2>
        </div>
        <div class="row justify-content-center">
            
            <div class="col-md-3" *ngFor="let content of newsdata;">
                <div class="blog-card">
                    <div class="image">
                        <a routerLink="/news-details/{{content.id}}/{{content.attributes.title}}" class="d-block">
                            <img src="{{content.attributes.imageurl}}" alt="{{content.attributes.title}}">  
                        </a>
                    </div>
                    <div class="content">
                        <h3 style="font-size: 1em;">
                            <a routerLink="/news-details/{{content.id}}/{{content.attributes.title}}" style="color:white ">
                                {{content.attributes.title}}
                            </a>
                        </h3>

                        <ul class="meta ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-user'></i>
                                โดย <a href="/" style="color: white;">{{content.attributes.by}}</a>
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class='bx bx-calendar'></i>
                                <span style="color: white;"> {{content.attributes.newsdatetime}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        
        <div class="courses-btn text-center">
            <a routerLink="/news/commander/1/ภารกิจผู้บัญชาการ" class="default-btn two">ดูทั้งหมด</a>
        </div>
    </div>
</div>