<div class="banner-area position-relative z-1" 
    style="
    background-image:url('assets/imgs/1.jpg'); 
    background-size:cover; 
    background-position: center center;
    background-attachment: fixed;
    min-height: 700px;
    z-index:10
    " 
    >
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <!--
                    <span class="sub-title">Start To New Journey</span>
                    <h1>Let's Learn New Courses And Gain More Skills</h1>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words.</p>
                    -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12"> 
            </div>
        </div>
    </div> 
</div> 