<!-- Default Courses Section -->
<div
    class="courses-area ptb-100"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="container">
        <div class="courses-tabs">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="section-title">
                    <h2 class="mb-0">RTARF Information Services</h2>
                </div>
                <ul class="nav nav-tabs d-block border-0">
                    <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab0'}">
                        <button type="button" class="nav-link shadow-none border-0 mb-0 rounded-0" (click)="switchTab($event, 'tab0')">
                            ข่าวกิจกรรม
                        </button>
                    </li>
                    <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab1'}">
                        <button type="button" class="nav-link shadow-none border-0 mb-0 rounded-0" (click)="switchTab($event, 'tab1')">
                            ประกาศ/คำสั่ง
                        </button>
                    </li>
                    <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab2'}">
                        <button type="button" class="nav-link shadow-none border-0 mb-0 rounded-0" (click)="switchTab($event, 'tab2')">
                            จัดซื้อจัดจ้าง
                        </button>
                    </li>
                    <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab3'}">
                        <button type="button" class="nav-link shadow-none border-0 mb-0 rounded-0" (click)="switchTab($event, 'tab3')">
                            ภาพอินโฟกราฟิก
                        </button>
                    </li>
                    <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab4'}">
                        <button type="button" class="nav-link shadow-none border-0 mb-0 rounded-0" (click)="switchTab($event, 'tab4')">
                            วารสารกองทัพไทย
                        </button>
                    </li> 
                    <li class="nav-item d-inline-block" [ngClass]="{'active': currentTab === 'tab5'}">
                        <button type="button" class="nav-link shadow-none border-0 mb-0 rounded-0" (click)="switchTab($event, 'tab5')">
                            วีดีทัศน์
                        </button>
                    </li> 
                </ul>
            </div>
            <div class="tab-content">
                
                <div class="tab-pane fade" id="tab0" *ngIf="currentTab === 'tab0'">
                    <div class="row">
                        <div class="col-xl-6 col-sm-6 col-md-12" *ngFor="let content of newsData;">
                            <div class="single-course-box">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div
                                            class="image position-relative"
                                            style="background-image: url('{{content.attributes.imageurl}}');"
                                        >
                                            <img src="{{content.attributes.imageurl}}" alt="course-image">
                                            <a routerLink="/news-details/{{content.id}}/{{content.attributes.title}}" class="link-btn"></a>
                                            <span class="price">ข่าวกิจกรรม</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6"> 
                                        <div class="content"> 
                                            <h5>
                                                <a routerLink="/news-details/{{content.id}}/{{content.attributes.title}}"> 
                                                    {{content.attributes.title}}
                                                </a>
                                            </h5>
                                            <p></p>
                                            <ul class="info d-flex align-items-center justify-content-between ps-0 mb-0 list-unstyled">
                                                <li>
                                                    <i class="flaticon-open-book"></i>
                                                    {{content.attributes.newsdatetime}}
                                                </li>
                                                <li>
                                                    <i class="flaticon-young-man"></i>
                                                    {{content.attributes.by}}
                                                </li>
                                            </ul>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab1" *ngIf="currentTab === 'tab1'"> 
                    <div class="courses-table mt-3">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col" width="80"></th>
                                        <th scope="col">ชื่อเอกสารข่าวประกาศ</th>
                                        <th scope="col" width="150">วันที่</th>
                                        <th scope="col" width="150">รายละเอียด</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let content of announcementDocs;">  
                                    <tr>
                                        <td>
                                          <img width="80" src="assets/imgs/doc.png" alt="" *ngIf="!content.attributes.thumbnailurl">  
                                          <img width="80" [src]="content.attributes.thumbnailurl" alt="" *ngIf="content.attributes.thumbnailurl">  
                                        </td>
                                        <td scope="row">
                                            <a href="{{content.attributes.docurl}}" target="_blank">
                                               {{content.attributes.title}}
                                            </a>
                                        </td>
                                        <td>
                                            {{content.attributes.docdatetime}}
                                        </td>
                                        <td>
                                            <a href="{{content.attributes.docurl}}" target="_blank" class="default-btn two">รายละเอียด</a>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
                <div class="tab-pane fade" id="tab2" *ngIf="currentTab === 'tab2'"> 
                    <div class="courses-table mt-3">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col" width="80"></th>
                                        <th scope="col">ชื่อเอกสารจัดซื้อจัดจ้าง</th>
                                        <th scope="col" width="150">วันที่</th>
                                        <th scope="col" width="150">รายละเอียด</th>
                                    </tr>
                                </thead> 
                                <tbody *ngFor="let content of budgetDocs;">   
                                    <tr>
                                        <td>
                                          <img width="80" src="assets/imgs/doc.png" alt="" *ngIf="!content.attributes.thumbnailurl">  
                                          <img width="80" [src]="content.attributes.thumbnailurl" alt="" *ngIf="content.attributes.thumbnailurl">  
                                        </td>
                                        <td scope="row">
                                            <a href="{{content.attributes.docurl}}" target="_blank">
                                               {{content.attributes.title}}
                                            </a>
                                        </td>
                                        <td>
                                            {{content.attributes.docdatetime}}
                                        </td>
                                        <td>
                                            <a href="{{content.attributes.docurl}}" target="_blank" class="default-btn two">รายละเอียด</a>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
                <div class="tab-pane fade" id="tab3" *ngIf="currentTab === 'tab3'"> 
                    <div class="courses-table mt-3">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col" width="80"></th>
                                        <th scope="col">ชื่อเอกสารอินโฟกราฟิก</th>
                                        <th scope="col" width="150">วันที่</th>
                                        <th scope="col" width="150">รายละเอียด</th>
                                    </tr>
                                </thead> 
                                <tbody  *ngFor="let content of infoDocs;">  
                                    <tr>
                                        <td>
                                          <img width="80" src="assets/imgs/doc.png" alt="" *ngIf="!content.attributes.thumbnailurl">  
                                          <img width="80" [src]="content.attributes.thumbnailurl" alt="" *ngIf="content.attributes.thumbnailurl">  
                                        </td>
                                        <td scope="row">
                                            <a href="{{content.attributes.docurl}}" target="_blank">
                                               {{content.attributes.title}}
                                            </a>
                                        </td>
                                        <td>
                                            {{content.attributes.docdatetime}}
                                        </td>
                                        <td>
                                            <a href="{{content.attributes.docurl}}" target="_blank" class="default-btn two">ดูรายละเอียด</a>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
  
                <div class="tab-pane fade" id="tab4" *ngIf="currentTab === 'tab4'"> 
                    <div class="courses-table mt-3">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col" width="80"></th>
                                        <th scope="col">ชื่อวารสารกองทัพไทย</th>
                                        <th scope="col" width="150">วันที่</th>
                                        <th scope="col" width="150">รายละเอียด</th>
                                    </tr>
                                </thead> 
                                <tbody  *ngFor="let content of journalDocs;">  
                                    <tr>
                                        <td>
                                          <img width="80" src="assets/imgs/doc.png" alt="" *ngIf="!content.attributes.thumbnailurl">  
                                          <img width="80" [src]="content.attributes.thumbnailurl" alt="" *ngIf="content.attributes.thumbnailurl">  
                                        </td>
                                        <td scope="row">
                                            <a href="{{content.attributes.docurl}}" target="_blank">
                                               {{content.attributes.title}}
                                            </a>
                                        </td>
                                        <td>
                                            {{content.attributes.docdatetime}}
                                        </td>
                                        <td>
                                            <a href="{{content.attributes.docurl}}" target="_blank" class="default-btn two">ดูรายละเอียด</a>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
  
                <div class="tab-pane fade" id="tab5" *ngIf="currentTab === 'tab5'"> 
                    <div class="courses-table mt-3">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col" width="80"></th>
                                        <th scope="col">ชื่อวีดีทัศน์</th>
                                        <th scope="col" width="150">วันที่</th>
                                        <th scope="col" width="150">รายละเอียด</th>
                                    </tr>
                                </thead> 
                                <tbody  *ngFor="let content of videoDocs;">  
                                    <tr>
                                        <td>
                                          <img width="80" src="assets/imgs/doc.png" alt="" *ngIf="!content.attributes.thumbnailurl">  
                                          <img width="80" [src]="content.attributes.thumbnailurl" alt="" *ngIf="content.attributes.thumbnailurl">  
                                        </td>
                                        <td scope="row">
                                            <a href="{{content.attributes.docurl}}" target="_blank">
                                               {{content.attributes.title}}
                                            </a>
                                        </td>
                                        <td>
                                            {{content.attributes.docdatetime}}
                                        </td>
                                        <td>
                                            <a href="{{content.attributes.docurl}}" target="_blank" class="default-btn two">ดูรายละเอียด</a>
                                        </td>
                                    </tr>  
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>

                 
            </div>
        </div>
        <div class="courses-btn text-center">
            <a routerLink="/service/list/announcement/ข่าวประกาศ%20คำสั่ง" class="default-btn">ดูทั้งหมด</a>
        </div>
    </div>
</div>

