<div
    class="partner-area bg-f7f7f7 pt-100 pb-75"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container">
         <div class="row align-items-center">
            <div class="col-12">
                <div class="partner-content">
                    <h4 class="mb-0">RTARF Services</h4>
                </div>
            </div>
            <div class="col-12">
                <div class="row align-items-center">
                    <div class="col-md-3" *ngFor="let item of serviceData"> 
                        <div style="
                            height: 150px; 
                            border: 3px solid white;
                            margin: 5px;
                            padding-top: 120px; 
                            background-size:cover; 
                            background-position: center center;
                            background-image: url({{item.attributes.imageurl}});
                        ">
                            <div style="height: 30px; background-color: rgba(0, 0, 0, 0.5); text-align: center; color: white;">
                                <a href="{{item.attributes.url}}" target="_blank" *ngIf="item.attributes.external=='1'" style="color: white;">{{item.attributes.title}}</a>
                                <a routerLink="{{item.attributes.url}}" *ngIf="item.attributes.external=='0'" style="color: white;">{{item.attributes.title}}</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
         </div>
    </div>
</div> 