<div
    class="top-header-area"
    [ngClass]="{'d-none': router.url === '/' || router.url === '/index-3'}"
>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <ul class="top-header-left-side ps-0 mb-0 list-unstyled">
                    <li class="d-inline-block position-relative">
                        <i class='bx bx-phone-call'></i>
                        Phone:  0-2572-1234 ,0-2572-1227
                    </li>
                    <li class="d-inline-block position-relative">
                        <i class='bx bx-envelope'></i>
                        Email: <a href="mailto:webteam@rtarf.mi.th">webteam@rtarf.mi.th</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="top-header-right-side">
                    <p></p>
                    <ul class="social-links ps-0 mb-0 list-unstyled">
                        <li class="d-inline-block">
                            <a href="https://www.facebook.com/rtarfhq.pr" target="_blank" class="d-block">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://twitter.com/RTARF_PR" target="_blank" class="d-block">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://www.instagram.com/rtarf.pr/" target="_blank" class="d-block">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://www.tiktok.com/@rtarf.pr" target="_blank" class="d-block">
                                <i class='bx bxl-tiktok'></i>
                            </a>
                        </li>
                        
                        <li class="d-inline-block">
                            <a href="https://www.youtube.com/@user-bh4mu3sd8z/videos" target="_blank" class="d-block">
                                <i class="bx bxl-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>