<!-- Footer -->
<div class="footer-area position-relative pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-4 col-sm-6 col-md-6">
                <div class="footer-widget">
                <!--
                    <a routerLink="/index" class="logo d-inline-block">
                        <img src="assets/imgs/logoname.png" alt="rtarf logo">
                    </a>
                -->
                <h3 style="color: white;">กองบัญชาการกองทัพไทย</h3>

                    <p> มีหน้าที่ควบคุม อำนวยการ สั่งการ และกำกับดูแล
                        การดำเนินงานของส่วนราชการในกองทัพไทย ในการเตรียมกำลัง
                        การป้องกันราชอาณาจักร และการดำเนินการเกี่ยวกับการใช้กำลังทหาร
                        ตามอำนาจหน้าที่ของกระทรวงกลาโหมให้เกิดประสิทธิภาพสูงสุด
                        มีผู้บัญชาการทหารสูงสุด เป็นผู้บังคับบัญชารับผิดชอบ</p>
                    <ul class="social-links ps-0 mb-0 list-unstyled">
                        <li class="d-inline-block">
                            <a href="https://www.facebook.com/rtarfhq.pr" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://twitter.com/RTARF_PR" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://www.instagram.com/rtarf.pr/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://www.tiktok.com/@rtarf.pr" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class='bx bxl-tiktok'></i>
                            </a>
                        </li>
                        
                        <li class="d-inline-block">
                            <a href="
                            https://www.youtube.com/@user-bh4mu3sd8z/videos" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-2 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3 style="color: white;">ข้อมูลสำคัญ</h3>
                    <ul class="footer-links ps-0 mb-0 list-unstyled">
                        
                        <li>
                            <a [routerLink]="['/page', 'about-us']" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                เกี่ยวกับกองบัญชาการกองทัพไทย
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/page', 'security-policy']" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                นโยบายการรักษาความมั่นคงปลอดภัย
                            </a>
                        </li>
                        <li>
                            <a routerLink="/page/personal-policy" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                นโยบายคุ้มครองข้อมูลส่วนบุคคล
                            </a>
                        </li>
                        <li>
                            <a routerLink="/page/responsibility-policy" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                การปฏิเสธความรับผิดชอบ
                            </a>
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3 style="color: white;">เว็บไซต์แนะนำ</h3>
                    <ul class="footer-links ps-0 mb-0 list-unstyled">
                        <li>
                            <a href="https://www.mod.go.th/" target="_blank" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                กระทรวงกลาโหม
                            </a>
                        </li>
                        <li>
                            <a href="https://rta.mi.th/" target="_blank" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                กองทัพบก
                            </a>
                        </li>
                        <li>
                            <a href="https://www.navy.mi.th" target="_blank" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                กองทัพเรือ
                            </a>
                        </li>
                        <li>
                            <a href="https://www.rtaf.mi.th" target="_blank" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                กองทัพอากาศ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3 style="color: white;">ติดต่อเรา</h3>
                    <ul class="footer-contact-info ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-phone-call'></i>
                            </div>
                            0-2572-1234 ,0-2572-1227
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-envelope'></i>
                            </div>
                            <a href="mailto:webteam@rtarf.mi.th">webteam@rtarf.mi.th</a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-map'></i>
                            </div>
                            ที่อยู่ 127 กองบัญชาการกองทัพไทย ถนน แจ้งวัฒนะ แขวงทุ่งสองห้อง เขตหลักสี่ กรุงเทพฯ 10210
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright -->
<div class="copyright-area text-center">
    <div class="container">
        <p>©Copyright @2023 กองบัญชาการกองทัพไทย</p>
    </div>
</div>