<!-- Page Banner -->
<div
    class="page-banner-area ptb-100" 
    style="background-image: url(assets/images/bg/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1 style="color: white;">ติดต่อ บก.ทท.</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/index">หน้าแรก</a></li>
                <li class="d-inline-block position-relative">ติดต่อ บก.ทท.</li>
            </ul>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div class="contact-area pt-100 pb-75">
    <div class="container">
        <h2 class="mb-3">ติดต่อ บก.ทท.</h2>
        <div class="row align-items-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="contact-info">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="box">
                                <div class="icon">
                                    <img src="assets/images/icons/envelope.png" alt="icon"> 
                                </div>
                                <h3>ที่อยู่อีเมล์</h3> 
                                <span class="d-block">
                                    <a href="mailto:webteam@rtarf.mi.th">webteam@rtarf.mi.th</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="box">
                                <div class="icon">
                                    <img src="assets/images/icons/call.png" alt="icon"> 
                                </div>
                                <h3>หมายเลขโทรศัพท์</h3>
                                <span class="d-block">
                                    0-2572-1234, 
                                    0-2572-1227 
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="box">
                                <div class="icon">
                                    <img src="assets/images/icons/location.png" alt="icon"> 
                                </div>
                                <h3>กองบัญชาการกองทัพไทย</h3>
                                <p>
                                    เลขที่ 127 กองบัญชาการกองทัพไทย 
                                    ซอย แจ้งวัฒนะ 7 ถนน แจ้งวัฒนะ แขวงทุ่งสองห้อง เขตหลักสี่ กรุงเทพฯ 10210</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 col-lg-7"> 
                <!-- Maps -->
                <div class="contact-map">
                    <div style="margin-bottom: 30px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25455.596478267453!2d100.54810303594476!3d13.890070658150906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e283a6705d561d%3A0x8fd5ba83c1e3b328!2z4LiB4Lit4LiH4Lia4Lix4LiN4LiK4Liy4LiB4Liy4Lij4LiB4Lit4LiH4LiX4Lix4Lie4LmE4LiX4Lii!5e0!3m2!1sth!2sus!4v1689106701197!5m2!1sth!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
